*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    background-color: #EBDCB2 ;
}
.body-main{
   display: flex;
   padding-left: 100px;
   padding-top: 100px;
   padding-bottom: 100px;
   padding-right: 100px;
}

.bank-img{
    margin-left: auto;
    height: 800px;
    width: 620px;
    background-color: rgba(175, 68, 37, 0.5);
    position: relative;
    
}
.bank-logo{
    width: 60%;
    position: relative;
    vertical-align: middle; 
    max-width: 100%;
    max-height: 100%;
    
    width: auto;
    height: auto;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.login-area{
    margin-right: auto;
    background-color: #F6E9C4;
    
    height: 800px;
    width: 620px;
    padding-right: 100px;
    align-items: center;
    align-content: center;

}

.login-text{
    margin: auto;
    width: 50%;
    padding-top: 30%;
    padding-bottom: 30%;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
}
.input-field{

}

.login-btn-area{
    padding: 10%;
    align-content: center;
}
.login-btn{
    width: 185px;
    height: 49px;
    left: 937px;
    top: 721px;
    background: #AF4425;
    opacity: 0.75;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;

    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 33px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}