*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    background-color: #EBDCB2 ;
}
.body-main{
   display: flex;
   padding-left: 100px;
   padding-top: 100px;
   padding-bottom: 100px;
   padding-right: 100px;
}

.bank-img{
   
    height: 800px;
    background-color: rgba(175, 68, 37, 0.5);
}
.bank-logo{
    align-items: center;
}

.login-area{
    background-color: #F6E9C4;
    
    height: 800px;
    padding-right: 100px;
    align-items: center;
    align-content: center;
}